<div class="container">
  <div class="row adv-btm">
    <div class="col-md-12">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- test -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3097210754491165" data-ad-slot="3772242537" data-ad-format="auto"></ins>
      <script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
  </div>
</div>

<div>
  Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test
  length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>Test length<br>
</div>