<ol class="breadcrumb">
    <li><a routerLink="/ex-types">Question Types</a></li>
    <li><a routerLink="/ex-definition-opt">Definition options</a></li>
    <li class="active">Started</li>
</ol>

<div>
    <div *ngIf="showScores == false" class="row">
        <div class="col-md-3 col-sm-3 hidden-xs">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Word list
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let wordCount of allOptions">
                            {{wordCount.word}} : {{wordCount.count}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Select word from word list to match with the given definition.
                </div>
                <div class="panel-body">

                    <!--cannot user ngFor and ngIf on the same element, have to use ng-container-->
                    <ng-container *ngFor="let userDefAnswer of allDefinition">
                        <div *ngIf="userDefAnswer.show">
                            <div class="form-group">
                                <label>{{userDefAnswer.wordDef.definition}}</label>
                                <input type="text" class="form-control" [(ngModel)]="userDefAnswer.userAnswer">
                            </div>
                        </div>
                    </ng-container>

                    <div class="pull-right">
                        <button (click)="submitAnswer()" class="btn btn-default btn-lg">Submit</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div *ngIf="showScores == true">
        <div class="jumbotron">
            <h3 class="text-center"><small>Scores</small> {{correctAnswer}}/{{allDefinition.length}}</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-info btn-block" (click)="reviewAnswers()">Review your answers</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-block" *ngIf="correctAnswer != allDefinition.length" (click)="reviewWrongAnswers()">Review wrong answers</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-info btn-block" (click)="redo()">Redo this excercise</button>
            </div>
        </div>

    </div>
</div>

<!--slider from left-->
<div class="visible-xs word-list-slider">
    <ul class="list-group" [myToggleable]="showMobileWordList">
        <li class="list-group-item" *ngFor="let wordCount of allOptions">
            {{wordCount.word}} : {{wordCount.count}}
        </li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>

    </ul>
</div>
<div class="visible-xs">
    <button type="button" class="btn btn-default view-side-menu-btn" (click)="toggleShowingMobileWordList()">E</button>
</div>