<ol class="breadcrumb">
    <li><a routerLink="/ex-types">Question Types</a></li>
    <li class="active">Definition options</li>
</ol>

<div>
    <div class="unitCheckbox" *ngFor="let unitCheckbox of unitCheckboxes">
        <div>
            <label>
                <input type="checkbox">{{unitCheckbox.unitName}}
            </label>
        </div>
        <div *ngFor="let sectionCheckbox of unitCheckbox.sectionCheckboxes" class="sectionCheckbox">
            <label>
                <input type="checkbox" [(ngModel)]="sectionCheckbox.selected">{{sectionCheckbox.sectionTitle}}
            </label>
        </div>
    </div>

    <button (click)="start()">Start</button>
</div>